<div class="wlc-login-container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <p>Имейл:</p>
    <p>
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Напиши своя имейл"
        formControlName="email"
      />
    </p>
    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
      <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is not valid!</p>
    </ng-container>
    <p>Парола:</p>
    <p>
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
        formControlName="password"
      />
    </p>

    <ng-container *ngIf="form.get('password')?.touched">
      <p class="error" *ngIf="form.get('password')?.errors?.['required']">Password is required!</p>
      <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 5 characters!</p>
    </ng-container>

    <button class="login-btn">
      <p>Вход</p>
    </button>
  </form>

  <div class="register-prompt">
    <p>Нямаш акаунт?</p>
    <p routerLink="/register">Регистрирай се!</p>
  </div>
</div>
