<div class="wlc-login-container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <p>Поща:</p>
    <p>
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Напиши своя имейл"
        formControlName="email"
      />
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">Полето е задължително</p>
        <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Невалидна поща</p>
      </ng-container>
    </p>
    
    <p>Парола:</p>
    <p>
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
        formControlName="password"
      />
      <ng-container *ngIf="form.get('password')?.touched">
        <p class="error" *ngIf="form.get('password')?.errors?.['required']">Полето е задължително</p>
        <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Паролата трябва да съдържа поне 5 символа!</p>
      </ng-container>
    </p>

    <button class="login-btn">
      <p>Вход</p>
    </button>
  </form>

  <div class="register-prompt">
    <p>Нямаш акаунт?</p>
    <p routerLink="/register">Регистрирай се!</p>
  </div>
</div>
