.current-theme-container {
    background-color: #F3DDD5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.theme-name {
    text-align: left;
    padding: 0.8em 0 0.8em 2em;
}

.theme-name * {
    padding: 0;
    margin: 0;
}

.time-span {
    font-size: 0.8em;
    font-style: italic;
}

.theme-comment {
    border: 4px double #411211;
    margin-top: 2px;
}