.current-theme-container {
  background-color: #f3ddd5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.theme-name {
  text-align: left;
  padding: 0.8em 0 0.8em 2em;
  background-color: #411211;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 1em;
}

.theme-name * {
  padding: 0;
  margin: 0;
}

.time-span {
  font-size: 0.8em;
  font-style: italic;
}

.theme-comment {
  border-radius: 5px;
  margin-top: 2px;
  display: flex;
  margin: 10px 1em 0 1em;
  background-color: #f2e1aa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.author-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.author-field p {
  margin-top: 0.5em;
  text-wrap: wrap;
}

img {
  width: 110px;
  margin: 0 1em 1em 1em;
  border-radius: 50%;
  border: 2px solid #411211;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.comment-main {
  width: 100%;
  margin: 1em 1em 1em 0;
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2) inset, 0px -7px 10px -4px rgba(0, 0, 0, 0.2) inset;
}

.comment-text {
  min-height: 100px;
}

hr {
  padding: 0;
  margin: 0.5em 0;
}

textarea {
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-controls button {
  border: none;
  background: none;
  font-size: 0.8em;
  font-weight: 900;
  margin: 0 1em;
  padding: 0;
}

.post-controls .delete {
  color: red;
}

.paginator {
  text-align: center;
  background-color: #f3ddd5;
  margin: 1em 0 0 0;
  padding-bottom: 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.arrow {
  background-color: #f2e1aa;
  color: #411211;
  font-size: 0.7em;
  border-radius: 10px;
  padding: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.confirm-changes {
    padding: 0.3em 0.5em;
    text-align: center;
    background-color: #411211;;
    color: white;
    border: none;
    border-radius: 5px;
}

.confirm-changes:hover {
    text-decoration: underline;
}

.delete-prompt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-top: 1px solid rgb(191, 188, 188);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.delete-prompt-btns {
  display: flex;
  gap: 0.8em;
  padding-bottom: 0.5em;
}

.delete-prompt-btns button {
  padding: 0.3em 0.7em;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-prompt-btns button:hover {
  text-decoration: underline;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.new-comment-btn {
  background-color: #F2E1AA;
  color: #411211;
  padding: 0.3em 1em;
  margin: 0 0 1em 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.new-comment-btn:hover {
  background-color: #f6d499;;
}

.answer-comment form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  padding-bottom: 0.6em;
}

.answer-comment textarea {
  margin: 0 1em;
  width: 97%;
}
