<div class="current-theme-container">
  <div class="theme-content">
    <div class="theme-name">
      <h2>{{ theme.themeName }}</h2>
      <p class="time-span">
        <span>създадена на {{ theme.created_at | formatDate }}</span>
      </p>
    </div>

    <div class="theme-comment" *ngFor="let post of theme.posts">
      <div class="author-field">
        <p>{{ post.userId.username }}</p>
        <img src="../../../assets/profile-image.jpeg" alt="">
      </div>
      <div class="comment-main">
        <header class="header">
          <p class="time-span">
            публикуван на
            <span
              >{{ post.created_at | formatDate }} в
              {{ post.created_at | formatHour }}</span
            >
          </p>
          <hr>
        </header>
        <div class="comment">
          <div class="comment-info">
            <p class="comment-text">
              {{ post.text }}
            </p>
            <p class="time-span" *ngIf="post.created_at !== post.updatedAt">
              <span>
                последно редактиран на {{ post.updatedAt | formatDate }} в
                {{ post.updatedAt | formatHour }}
              </span>
            </p>
            <hr>
          </div>

          <ng-container *ngIf="post.userId.email === currentUserEmail">
            <div class="post-controls">
              <button (click)="toggleEditFormVisibility(post._id)">
                Редактирай
              </button>
              <button (click)="toggleDeletePromptVisibility(post._id)">
                Изтрий
              </button>
            </div>
            <div *ngIf="isEditFormVisible(post._id)">
              <form
                [formGroup]="editForm"
                (ngSubmit)="editComment(theme._id, post._id)"
              >
                <textarea
                  name="postText"
                  id="comment"
                  cols="30"
                  rows="10"
                  formControlName="postText"
                ></textarea>
                <ng-container *ngIf="editForm.get('postText')?.touched">
                  <p
                    class="error"
                    *ngIf="editForm.get('postText')?.errors?.['required']"
                  >
                    The field with your post is required.
                  </p>
                  <p
                    class="error"
                    *ngIf="editForm.get('postText')?.errors?.['minlength']"
                  >
                    Post must be at least 10 characters long.
                  </p>
                </ng-container>
                <button>Потвърди</button>
              </form>
            </div>

            <div *ngIf="isDeletePromptVisible(post._id)">
              <p>Сигурни ли сте, че искате да изтриете коментара?</p>
              <button (click)="deleteComment(theme._id, post._id)">Да</button>
              <button (click)="toggleDeletePromptVisibility(post._id)">
                Не
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <button *ngIf="isLoggedIn" (click)="toggleShowPostField()">
      <i *ngIf="!showPostField" class="fa-solid fa-circle-left"></i>
      <i *ngIf="showPostField" class="fa-solid fa-circle-down"></i>
      Публикувай отговор:
    </button>

    <div class="answer-comment" *ngIf="isLoggedIn && showPostField">
      <div class="answer">
        <form [formGroup]="form" (ngSubmit)="addComment(theme._id)">
          <textarea
            name="postText"
            id="comment"
            cols="30"
            rows="10"
            formControlName="postText"
          ></textarea>

          <ng-container *ngIf="form.get('postText')?.touched">
            <p class="error" *ngIf="form.get('postText')?.errors?.['required']">
              The field with your post is required.
            </p>
            <p
              class="error"
              *ngIf="form.get('postText')?.errors?.['minlength']"
            >
              Post must be at least 10 characters long.
            </p>
          </ng-container>
          <button>Потвърди</button>
        </form>
      </div>
    </div>
  </div>
</div>
