<header>
    <div class="header-container">
        <div class="banner-image">
            <img class="bnr-img" src="../../../assets/beer-banner.png" alt="beers"/>
        </div>

        <div class="main-nav">
            <div class="nav-container-left">
                <ul class="navigation">
                    <li routerLink="/">Начало</li>
                    <li routerLink="/themes">Форум</li>
                </ul>
            </div>
    
            <div class="nav-container-right" *ngIf="isLoggedIn">
                <ul class="navigation">
                    <li routerLink="/profile">Здравей, {{username}}!</li>
                    <li (click)="logout()">Изход</li>
                </ul>
            </div>
        </div>
    </div>
</header>
