<header>
    <div class="header-container">
        <div class="banner-image">
            <img class="bnr-img" src="../../../assets/beer-banner.png" alt="beers"/>
        </div>

        <div class="main-nav">
            <div class="nav-container-left">
                <ul class="navigation">
                    <li>Forum</li>
                    <li>Rules</li>
                    <li>Description</li>
                </ul>
            </div>
    
            <div class="nav-container-right">
                <ul class="navigation">
                    <li>Profile Details</li>
                    <li>Logout</li>
                </ul>
            </div>
        </div>
    </div>
</header>
