<header>
    <div class="header-container">
        <div class="banner-image">
            <img class="bnr-img" src="../../../assets/beer-banner.png" alt="beers"/>
        </div>

        <div class="main-nav">
            <div class="nav-container-left">
                <ul class="navigation">
                    <li>Начало</li>
                    <li>Форум</li>
                    <li>Правила</li>
                    <li>Описание</li>
                </ul>
            </div>
    
            <div class="nav-container-right">
                <ul class="navigation">
                    <li>Здравей, профил!</li>
                    <li>Изход</li>
                </ul>
            </div>
        </div>
    </div>
</header>
