.bnr-img {
    width: 100%;
    margin: auto;
    height: auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 222, 162, 0.918);
    color: #411211;
    padding: 0.5em 1em;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}

.navigation li {
    list-style: none;
    padding-right: 2em;
}

.navigation .link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation span {
    font-style: italic;
    font-weight: 100;
    color: rgb(111, 105, 105);
}

.navigation span:hover {
    text-decoration: underline;
    cursor: pointer;
}