<div class="new-theme-container">
  <h3>Нова тема</h3>

  <form [formGroup]="form" (ngSubmit)="addTheme()">
    <div class="new-theme-title">
      <label for="themeName">Заглавие:</label>
      <input
        type="text"
        name="themeName"
        id="themeName"
        formControlName="themeName"
      />
      <ng-container *ngIf="form.get('themeName')?.touched">
        <p class="error" *ngIf="form.get('themeName')?.errors?.['required']">
          Полето е задължително!
        </p>
        <p class="error" *ngIf="form.get('themeName')?.errors?.['minlength']">
          Заглавието трябва да съдържа поне 5 символа!
        </p>
      </ng-container>
    </div>
    <div class="new-theme-content">
      <textarea
        type="text"
        name="postText"
        id="postText"
        rows="8"
        class="height"
        placeholder="напиши своя коментар..."
        formControlName="postText"
      ></textarea>

      <ng-container *ngIf="form.get('postText')?.touched">
        <p class="error" *ngIf="form.get('postText')?.errors?.['required']">
          Полето е задължително!
        </p>
        <p class="error" *ngIf="form.get('postText')?.errors?.['minlength']">
          Коментарът трябва да съдържа поне 10 символа!
        </p>
      </ng-container>
    </div>
    <div class="new-theme-buttons">
      <button (click)="newThemeService.toggleNewTheme()">Отмени</button>
      <button
        [disabled]="form.invalid"
        [style]="{
          backgroundColor: form.invalid ? 'grey' : 'green',
          textDecoration: form.invalid ? 'none' : ''
        }"
      >
        Публикувай
      </button>
    </div>
  </form>
</div>
