.cancel-button, .save-button, .edit-button {
    background-color: rgba(53, 4, 4, 0.936);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.3em 1em;
}

.control-btns {
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button:hover {
    text-decoration: underline;
}

h3 {
    color: rgba(53, 4, 4, 0.936);
}

.profile-container {
    background-color: #F3DDD5;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 20em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-username, .profile-email {
    padding: 0.2em 0;
}

.profile-username input {
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-username p {
    color: #411211;
}

img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

span {
    text-decoration: underline;
}

