<!-- homepage -->
<div class="profile-container">
  <div class="profile-img">
    <img src="../../../assets/profile-image.jpeg" alt="" />
  </div>
  <div class="profile-details">
    <ng-container *ngIf="editMode">
      <h3>Потребителско име</h3>
    </ng-container>
    <ng-container *ngIf="!editMode">
      <h3>Профил</h3>
    </ng-container>

    <!-- READONLY MODE -->
    <ng-container *ngIf="!editMode">
      <div class="profile-username">
        <p>
          Потребителско име: <span>{{ profileDetails.username }}</span>
        </p>
      </div>
      <div class="profile-email">
        <p>
          Поща: <span>{{ profileDetails.email }}</span>
        </p>
      </div>
      <button class="edit-button" (click)="onToggle()">
        Промени потребителското име
      </button>
    </ng-container>

    <!-- EDIT PROFILE MODE -->

    <ng-container *ngIf="editMode">
      <form [formGroup]="form" (ngSubmit)="saveProfileHandle()">
        <div class="profile-username">
          <input
            type="text"
            name="username"
            id="username"
            [value]="profileDetails.username"
            formControlName="username"
          />
        </div>

        <!-- username validations -->
        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']">
            Полето е задължително!
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
            Потребителското име трябва да съдържа поне 5 символа!
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['maxlength']">
            Потребителското име не може да съдържа повече от 19 символа!
          </p>
        </ng-container>

        <!-- Actions -->
        <div class="control-btns">
          <button class="cancel-button" (click)="onCancel($event)">
            Отмени
          </button>
          <button
            class="save-button"
            [disabled]="form.invalid"
            [style]="{
              backgroundColor: form.invalid ? 'grey' : 'green',
              textDecoration: form.invalid ? 'none' : ''
            }"
          >
            Запази
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
