<!-- homepage -->
<div class="register-user-container">
  <div class="register-header">
    <h3>Регистрация:</h3>
  </div>
  
  <form class="user-register-form" [formGroup]="form" (ngSubmit)="register()">
    <fieldset>
      <!-- username -->
      <p class="field">
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="Потребителско име"
          formControlName="username"
        />
        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']">
            Полето е задължително
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
            Потребителското име трябва да съдържа поне 5 символа!
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['maxlength']">
            Потребителското име не може да съдържа повече от 19 символа!
          </p>
        </ng-container>
      </p>
      <!-- email -->
      <p class="field">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="електронна поща"
          formControlName="email"
        />
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Полето е задължително
          </p>
          <p
            class="error"
            *ngIf="form.get('email')?.errors?.['emailValidator']"
          >
            Невалидна поща
          </p>
        </ng-container>
      </p>
      <!-- passwords -->
      <ng-container formGroupName="passGroup">
        <!-- password -->
        <p class="field">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="парола"
            formControlName="password"
          />
          <ng-container *ngIf="passGroup?.get('password')?.touched">
            <p
              class="error"
              *ngIf="passGroup?.get('password')?.errors?.['minlength']"
            >
              Паролата трябва да съдържа поне 5 символа!
            </p>
          </ng-container>
        </p>

        <!-- confirm password -->
        <p class="field">
          <input
            type="password"
            name="confirmPass"
            id="confirmPass"
            placeholder="потвърди паролата"
            formControlName="confirmPass"
          />
          <ng-container *ngIf="passGroup?.get('confirmPass')?.touched">
            <p
              class="error"
              *ngIf="passGroup?.errors?.['matchPasswordsValidator'] ||
              passGroup?.get('confirmPass')?.errors?.['required']"
            >
              Паролите не съвпадат! Моля, опитайте отново!
            </p>
          </ng-container>
        </p>
      </ng-container>
      <!-- button -->
      <button
        [disabled]="form.invalid"
        [style]="{
          backgroundColor: form.invalid ? 'grey' : '',
          textDecoration: form.invalid ? 'none' : ''
        }"
      >
        Създай акаунт
      </button>
    </fieldset>
  </form>
</div>
