.register-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-register-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #F3DDD5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-register-form fieldset {
    border-radius: 0.3em;
    padding: 2em;
}

.register-header {
    width: 50%;
    padding-top: 0.7em;
    margin-top: 0.7em;
    border-bottom: none;
    text-align: center;
    background-color: #411211;
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-register-form p {
    padding-bottom: 0;
    padding-top: 0.4em;
}

.user-register-form input {
    flex: 0 1 100%;
    border: 1px solid lightgrey;
    padding: 0.3em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-register-form button {
    background-color: rgba(53, 4, 4, 0.936);
    color: white;
    padding: 0.3em 1em;
    margin: 1.5em 0.5em;
    border: none;
    border-radius: 5px;
}

.user-register-form button:hover {
    text-decoration: underline;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}