<div class="latest-activity-header">
  <p>Последна активност във форума</p>
</div>

<div class="themes-wrapper">
  <div class="themes-header">
    <div>
      <h4>Теми</h4>
    </div>
    <div class="theme-details">
      <p>автор</p>
      <p>мнения</p>
      <p>създадена</p>
    </div>  
  </div>

  <div class="theme-container" *ngFor="let theme of themes">
    <div class="theme-title">
      <h4 [routerLink]="theme._id">{{ theme.themeName }}</h4>
      <p>Последна активност на {{theme.updatedAt | formatDate}} в {{ theme.updatedAt | formatHour }}</p>
    </div>
    <div class="theme-details">
      <p>
        <span>{{ theme.userId.username }}</span>
      </p>
      <p>
        <span>{{ theme.posts.length }}</span>
      </p>
      <p class="format-time">
        <span>{{ theme.created_at | formatDate }}</span>
        <span>{{ theme.created_at | formatHour }}</span>
      </p>
    </div>
  </div>

  <!-- <div class="theme-container">
    <div class="theme-title">
      <h4>PS4 vs. Xbox</h4>
      <p>Последно мнение от Ставри преди 1ч и 18мин</p>
    </div>
    <div class="theme-details">
      <p><span>Методи</span></p>
      <p><span>27</span></p>
      <p><span>22.02.2024</span></p>
    </div>
  </div>

  <div class="theme-container">
    <div class="theme-title">
      <h4>Печелили ли сте някога спор с жена си?</h4>
      <p>Последно мнение от Георги преди 2ч и 18мин</p>
    </div>
    <div class="theme-details">
      <p><span>Атанас</span></p>
      <p><span>24</span></p>
      <p><span>11.05.2023</span></p>
    </div>
  </div> -->

</div>
