.latest-activity-header p {
    text-align: center;
    font-size: 1.3em;
    color: #411211;
    left: 12em;
    margin: 0.7em 0 0.1em 0;
    padding: 0;
}

.themes-wrapper {
    padding: 0 2em;
}

.themes-wrapper * {
    margin-bottom: 0;
    padding: 0.3em 0.2em;
}

.themes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #411211;
    color: white;
}

.theme-title h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.theme-title p {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 2em;
}

.theme-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    padding-right: 0.7em;
}

.theme-container {
    display: flex;
    justify-content: space-between;
    background-color: #F3DDD5;
    border-bottom: 1px solid #411211;
}

.theme-details p {
    font-weight: 200;
    font-size: 0.8em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.format-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.format-time span {
    padding: 0;
    margin: 0;
}