<div class="latest-activity-header">
  <p>Последна активност:</p>
</div>


<div class="themes-wrapper">
  <div class="themes-header">
    <div class="theme-title">
      <h4>Заглавие</h4>
    </div>
    <div class="theme-details">
      <p>автор</p>
      <p>мнения</p>
      <p>създадена</p>
    </div>  
  </div>

  <div class="theme-container">
    <div class="theme-meta">
      <p><span>Гошо</span></p>
      <p><span>14</span></p>
      <p><span>18.01.2024</span></p>
    </div>
  </div>

  <!-- <div class="theme-container">
    <div class="theme-title">
      <h4>Тема 2</h4>
    </div>
    <div class="theme-meta">
      <p><span>Автор: Атанас</span></p>
      <p><span>Мнения: 26</span></p>
      <p><span>Създадена на: 22.11.2023</span></p>
    </div>
  </div>

  <div class="theme-container">
    <div class="theme-title">
      <h4>Тема 3</h4>
    </div>
    <div class="theme-meta">
      <p><span>Автор: Методи</span></p>
      <p><span>Мнения: 7</span></p>
      <p><span>Създадена на: 22.02.2024</span></p>
    </div>
  </div> -->

</div>
