<div class="latest-activity-header">
    <p>Последна активност:</p>
</div>

<div class="themes-wrapper">
  <div class="theme-container">
    <h4>Тема 1</h4>
    <p class="theme-content">Бла-бла-бла</p>
    <p><span>Автор: Гошо</span></p>
    <p><span>Мнения: 14</span></p>
    <p><span>Създадена на: 18.01.2024</span></p>
  </div>
  <!-- <div class="theme-block">
    <h4>Тема 2</h4>
    <p class="theme-content">Бла-бла-бла</p>
    <p><span>Автор: Методи</span></p>
    <p><span>Създадена на: 22.11.2023</span></p>
  </div>
  <div class="theme-block">
    <h4>Тема 3</h4>
    <p class="theme-content">Бла-бла-бла</p>
    <p><span>Автор: Атанас</span></p>
    <p><span>Създадена на: 22.02.2024</span></p>
  </div>
</div> -->
