<div class="welcome-screen">
  <div class="info-header">
    <h2>Добре дошли в БГ-Татко!</h2>
    <p>Всичко, което не можем да обсъждаме пред жените си, се обсъжда тук!</p>
  </div>

  <div class="wlc-login-container">
    <form class="login">
      <p>Имейл:</p>
      <p>
        <label for="email"></label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Напиши своя имейл"
        />
      </p>
      <!-- <ng-container>
        <p class="error">Email is required!</p>
        <p class="error">Email is not valid!</p>
      </ng-container> -->
      <p>Парола:</p>
      <p>
        <label for="password"></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
        />
      </p>

      <!-- <ng-container>
        <p class="error">Password is required!</p>
        <p class="error">Password must be at least 5 characters!</p>
      </ng-container> -->

      <div class="login-btn">
        <p>Вход</p>
      </div>
    </form>

    <div class="register-prompt">
      <p>Нямаш акаунт?</p>
      <p>Регистрирай се!</p>
    </div>
  </div>

  <div class="forum-info">
    <div class="forum-info-header">
      <p>Статистика:</p>
    </div>
    <div class="forum-stats">
      <p>Регистрирани татковци: 23</p>
      <p>|</p>
      <p>Активни теми: 27</p>
      <p>|</p>
      <p>Коментари: 241</p>
    </div>
  </div>
</div>
