<!-- homepage -->
<div class="info-header">
  <p>Information</p>
</div>

<div class="wlc-login-container">
  <form class="login">
    <p>Email:</p>
    <p>
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
    </p>
    <!-- <ng-container>
        <p class="error">Email is required!</p>
        <p class="error">Email is not valid!</p>
      </ng-container> -->
    <p>Password:</p>
    <p>
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
      />
    </p>

    <!-- <ng-container>
        <p class="error">Password is required!</p>
        <p class="error">Password must be at least 5 characters!</p>
      </ng-container> -->

    <div class="login-btn">
      <p>Login</p>
    </div>
  </form>

  <div class="register-prompt">
    <p>Don't have an account?</p>
    <p>Register</p>
  </div>
</div>
