.welcome-screen {
    background-color: rgb(243, 221, 213);
    height: 70vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info-header {
    background-color: rgba(53, 4, 4, 0.936);
    color: #F2E1AA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header h2 {
    padding-top: 0.4em;
}