<ng-container id="new-theme-component" *ngIf="newThemeService.newThemeField">
  <app-new-theme />
</ng-container>

<div class="themes-wrapper">
  <ng-container id="themes-list-wrapper" *ngIf="!newThemeService.newThemeField">

    <div class="themes-header">
      <div class="theme-header-title">
        <h4>Заглавие</h4>
      </div>
      <div class="theme-details">
        <p>автор</p>
        <p>мнения</p>
        <p>създадена</p>
      </div>
    </div>

    <ng-container *ngIf="isLoggedIn && !newThemeService.newThemeField">
      <div class="new-theme-btn-container">
        <button class="new-theme-btn" (click)="newThemeService.toggleNewTheme()">
          <i class="fa-solid fa-circle-plus"></i> Нова тема</button>
      </div>
    </ng-container>

    <div class="theme-container" *ngFor="let theme of getPaginatedThemes()">
      <div class="theme-title">
        <h4 [routerLink]="theme._id"> {{ theme.themeName }}</h4>
        <p>
          Последна активност
          <i class="fa-solid fa-calendar-days"></i> {{ theme.updatedAt | formatDate }}
           <i class="fa-regular fa-clock"></i> {{ theme.updatedAt | formatHour }}
        </p>
      </div>
      <div class="theme-details">
        <p>
          <span>{{ theme.userId.username }}</span>
        </p>
        <p>
          <span>{{ theme.posts.length }}</span>
        </p>
        <p class="format-time">
          <span><i class="fa-solid fa-calendar-days"></i>{{ theme.created_at | formatDate }}</span>
          <span><i class="fa-regular fa-clock"></i>{{ theme.created_at | formatHour }}</span>
        </p>
      </div>
    </div>

    <div class="paginator">
      <button class="arrow"
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        <<
      </button>
      <span> стр. {{ currentPage }} от {{ getTotalPages() }} </span>
      <button class="arrow"
        (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage === getTotalPages()"
      >
        >>
      </button>
    </div>

  </ng-container>
</div>
