.themes-wrapper * {
    margin-bottom: 0;
    padding: 0.3em 0.2em;
}

.themes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #411211;
    color: white;
}

.theme-title * {
    padding-left: 0.7em;
}

.theme-title p {
    font-size: 0.7em;
    font-style: italic;
}

.theme-title h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.theme-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    padding-right: 0.7em;
}

.theme-container {
    display: flex;
    justify-content: space-between;
    background-color: #F3DDD5;
    border-bottom: 1px solid #411211;
}

.theme-details p {
    font-weight: 200;
    font-size: 0.8em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.format-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.format-time span {
    padding: 0;
    margin: 0;
}

.new-theme-btn-container {
    background-color: #F3DDD5;
    text-align: left;
}

.new-theme-btn {
    background-color: #F2E1AA;
    color: #411211;
    padding: 0.3em 1em;
    margin-left: 0.5em;
    border-radius: 10px;
}

.new-theme-btn:hover {
    text-decoration: underline;
}

.paginator {
    text-align: center;
    background-color: #F3DDD5;
    padding: 1em 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arrow {
    background-color: #F2E1AA;
    color: #411211;
    font-size: 0.7em;
    border-radius: 10px;
}