footer {
    background: #F2E1AA;
    margin-top: 0.6em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0.5em 0;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    max-width: 1366px;
    text-align: center;
}

footer p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
}